[MASTER]
extension-pkg-whitelist=numpy,cv2

[MESSAGES CONTROL]
disable=
    broad-except,
    duplicate-code,
    f-string-without-interpolation,
    global-statement,
    import-outside-toplevel,
    invalid-name,
    len-as-condition,
    logging-fstring-interpolation,
    missing-docstring,
    no-else-return,
    too-few-public-methods,
    too-many-ancestors,
    too-many-arguments,
    too-many-branches,
    too-many-instance-attributes,
    too-many-lines,
    too-many-locals,
    too-many-nested-blocks,
    too-many-return-statements,
    too-many-statements,
    using-constant-test,
    wrong-import-order,

[FORMAT]
max-line-length=256

[TYPECHECK]
ignored-modules=cv2,torch,tensorflow
